#checkbox {
    display: flex;
    aspect-ratio: 1;
    width: 35px;
    margin: 20px;
    border: 1px solid rgb(82, 82, 82);
}

#checkbox:focus {
    box-shadow: 5px 5px 5px rgba(0,0,0,.4);
    border: 2px solid rgb(82, 82, 82)

}

.checked {
    background-color: #4bb543;
}

#checkmark{
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    user-select: none;
}